<!--Beginning of Multiple Cards-->
<div class="candidate-cards">
    <!--<div *ngFor="let item of studentArray">-->

        <div class="card" >
            <!--Beginning of for-loop-->
            <!--<div
                *ngFor="let attr of studentArray"
            >-->
                <!--Template of Card-->
                <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                    <div class="card border-0 bg-light rounded shadow">
                        <div class="card-body p-3" style="background-color: #393f81; color: white;">
                            <div class="mt-3">
                                <!--<h2 class="text-center">{{  }}</h2>-->
                                <p class="text-center" id="program">Software Engineering</p>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <div class="mt-3">
                                <p>Position: Project Management Intern</p>
                                <p>Student e-mail: example@gmail.com</p>
                                <p>Add CV here!</p>
                                <br>
                                <button id="select-int-button" type="button" class="btn btn-dark btn-sm" (click)="disableButton($event.target, 'Selected for Interview')">Select for Interview</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Template-->
        <!--</div>-->
    
    <!--</div>-->
        <!--End of for-loop-->
</div>
