<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

<div class="cardz" >
  <div
    *ngFor="let item of jobsArray; let i = index"
    data-aos="fade-up"
    data-aos-duration="900"
    data-aos-easing="ease-in-out-back"
    data-aos-mirror=true
  >
    <a
    
      [routerLink]="['../individual']"
      [queryParams]="item"
      [fragment]="this.keyloop[i].toString()"
      *ngIf="
        searchText === '' || 
        item.Company.toLowerCase().includes(searchText.toLowerCase()) ||
        item.JobTitle.toLowerCase().includes(searchText.toLowerCase()) ||
        item.JobLocation.toLowerCase().includes(searchText.toLowerCase()) ||
        item.City.toLowerCase().includes(searchText.toLowerCase()) ||
        item.Description.toLowerCase().includes(searchText.toLowerCase()) ||
        item.Duration.toLowerCase().includes(searchText.toLowerCase()) ||
        item.Image.toLowerCase().includes(searchText.toLowerCase()) ||
        item.JobLocationType.toLowerCase().includes(searchText.toLowerCase()) ||
        item.Salary.toLowerCase().includes(searchText.toLowerCase()) ||
        item.Supervisor.toLowerCase().includes(searchText.toLowerCase())
      "
     
   
    >
    
      <div class="card">
        <img src="{{item.Image}}" alt="Image not found" class="cardimg" />
        <div class="card-content" value="">
          <div class="top-card">
            <h3>{{ item.Company }}</h3>
            <P>{{ item.JobTitle }}</P>
            <h4>{{item.City}}</h4>
          </div>

          <div class="bottom-card">
            <div *ngIf="item.JobLocationType=='Hybrid'"><mat-icon> transfer_within_a_station</mat-icon></div>
            <div *ngIf="item.JobLocationType=='Remote'"><mat-icon>wifi</mat-icon></div>
            <div *ngIf="item.JobLocationType=='On-site'"><mat-icon>business</mat-icon></div>
            <p class="watch">{{ item.JobLocationType }}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>


