<section class="vh-200" style="background-color: #93aff6">
    <div class="container py-2 h-100 px-xs-0" >
      <button class="apply" mat-button type="button" >Apply</button>
       <!-- First row Name of org -->
      <div class="row m-2">
        <mat-card style="background-color: #475db8; border-radius: 25px; padding: 15px;">
        <div class="col " >
           <p style="font-weight: bold; font-size:17px; display: inline; border-right: 1px solid gray; padding-right: 5px;">  Name of Organisation </p> 
           <p class="company" style="display: inline; color:white; font-size:17px; " > Default:Vuwall</p>
        </div>
      </mat-card>
      </div>

      <!-- second row -->
      <div class="row m-2 ">
        <!-- first column job decription -->
        <div class="col-md-8 " style="background-color:#FFFFFF; border-radius: 25px; border: 2px solid black;">
          <div style="padding-top: 15px; padding-bottom: 15px;">
            <div class="center_title" style="background-color: lightgray; padding-top: 15px; border-radius: 5px;">
              <b>Job Information </b> <br/> <hr> 
            </div>
            <div class="center_image">
              <img src="https://thumbs.dreamstime.com/b/beautiful-rain-forest-ang-ka-nature-trail-doi-inthanon-national-park-thailand-36703721.jpg" alt="Cannot get image">
            </div>
            <br/>
            <b>Job Title: </b> Default:Software Developer<br/>
            <b>Job Location Type: </b> Default:hybrid <br/>
            <b>Salary: </b>Default:20-25$ <br/>
            <b>Duration: </b>Default:4 months <br/> 
            <b>Supervisor: </b>Default:Gregory Fallon <br/> <br/>
            <div class="center" style="text-decoration: underline;">
              <b>Job Description</b>
            </div>
            Default:Job Description example

            <div class="center" style="text-decoration: underline;">
              <br/>
              <b>Job Requirements</b>
            </div>
            Default:Job requirement example
          </div>
          
        </div>

        <!-- second column -->
        <div class="col" >
          <div class="row mb-2">
            <div style="background-color:#CBC3E3; border-radius: 25px; padding: 15px;">
              <div class="center_title">
                <b>Application Information </b> <br/> <hr>
              </div>
            <b> Deadline: </b> Default:March 15<br/>
            <b>Documents Required: </b> Default: CV, cover letter, transcript <br/>
            <b>Application Method: </b> Default:Compass <br/>
            </div>
          </div>
          <div class="row ml-2">
            <div style="background-color:#CBC3E3; border-radius: 25px; padding: 15px;">
              <div class="center_title">
                <b>Company Information</b> <br/><hr>
              </div>
            <b>Job Contact First Name: </b> Default:Elle <br/>
            <b>Job Contact Last Name: </b> Default:Smith<br/>
            <b>Website: </b> Default:Link<br/>
            <b>Address Line One: </b> Default:145 Meany <br/>
            <b>City: </b> Default:kirkland <br/>
            <b>Province / State: </b> Default:quebec <br/>
            <b>Postal Code / Zip Code: </b> Default:ngsnkbe <br/>
           </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>


