<!--This page is for employers to see their prending interviews with students-->
<div class="container mt-3 pt-4">
    <div class="row">
        <h2 class="text-center">Candidates</h2>
        <p class="text-center">See all the students that have applied to your job post below!</p>
        <br>
        
        <!--CUSTOM COMPONENT!-->
        <app-candidate-card [posting] = [posting]></app-candidate-card>
        <!--<app-employer-int-card></app-employer-int-card>--> <!--We might be able to reuse one and get rid of the other-->

    </div>
</div>