<!--<section style="background-color: aquamarine;">-->
    <div class="container mt-3 pt-4">
        <div class="row">
            <h2 class="text-center">Pending Interviews</h2>
            <p class="text-center">Find your future employee! See your pending interviews with students below!</p>
            <br>
            <!--First Example-->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card border-0 bg-light rounded shadow">
                    <div class="card-body p-3" style="background-color: #393f81; color: white;">
                        <div class="mt-3">
                            <h2 class="text-center">John Smith</h2>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="mt-3">
                            <p>Program: Software Engineering</p>
                            <p>Position: Project Management Intern</p>
                            <p>Student e-mail: example@gmail.com</p>
                            <p>Add CV here!</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Second Example-->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card border-0 bg-light rounded shadow">
                    <div class="card-body p-3" style="background-color: #393f81; color: white;">
                        <div class="mt-3">
                            <h2 class="text-center">Samantha Jones</h2>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="mt-3">
                            <p>Program: Computer Engineering</p>
                            <p>Position: Game Design Intern</p>
                            <p>Student e-mail: example@gmail.com</p>
                            <p>Add CV here!</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Third Example-->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card border-0 bg-light rounded shadow">
                    <div class="card-body p-3" style="background-color: #393f81; color: white;">
                        <div class="mt-3">
                            <h2 class="text-center">Ricardo Gomez</h2>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="mt-3">
                            <p>Program: Electrical Engineering</p>
                            <p>Position: Web Design Intern</p>
                            <p>Student e-mail: example@gmail.com</p>
                            <p>Add CV here!</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fourth Example-->
            <!--Third Example-->
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="card border-0 bg-light rounded shadow">
                    <div class="card-body p-3" style="background-color: #393f81; color: white;">
                        <div class="mt-3">
                            <h2 class="text-center">Justin Perry</h2>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <div class="mt-3">
                            <p>Program: Electrical Engineering</p>
                            <p>Position: Web Design Intern</p>
                            <p>Student e-mail: example@gmail.com</p>
                            <p>Add CV here!</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<!--</section>-->




      
   

