<div *ngIf="canEdit">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <section class="vh-200" style="background-color: #93aff6">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 mb-4 mb-lg-0">
          <div class="card mb-3 justify-content-center"
               style="border-radius: 0.5rem; 
               "
              
          >
            <div class="row g-0">
              <div
                class="col-md-4 gradient-custom text-center text-white"
                style="
                  border-top-left-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                  background-color: #475db8
                "
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar"
                  class="img-fluid my-5"
                  style="width: 80px"
                />
                <p>
                  <!-- first_name -->
                  <mat-form-field appearance="fill">
                    <mat-label>{{defaultStudent.FirstName}}</mat-label>
                    <input
                      matInput
                      required
                      ngModel name="first_name"
                      formControlName= "first_name"
                      [errorStateMatcher]="matcher"
                    />
                    <mat-icon
                      matSuffix
                      *ngIf="
                        registerForm.controls.first_name.hasError('required') &&
                        registerForm.controls.first_name.touched
                      "
                      >error_outline
                    </mat-icon>
                    <mat-error
                      *ngIf="
                        registerForm.controls.first_name.hasError('required')
                      "
                      >Enter your first name
                    </mat-error>
                  </mat-form-field>
                  <br>
                  <!-- last name -->
                  <mat-form-field
                    appearance="fill"
                    class="example-full-width"
                    id="last_name"
                  >
                    <mat-label>{{defaultStudent.LastName}}</mat-label>
                    <input
                      matInput
                      required
                      ngModel name="last_name"
                      formControlName="last_name"
                      [errorStateMatcher]="matcher"
                    />
                    <mat-icon
                      matSuffix
                      *ngIf="
                        registerForm.controls.last_name.hasError('required') &&
                        registerForm.controls.last_name.touched
                      "
                      >error_outline</mat-icon
                    >
                    <mat-error
                      *ngIf="
                        registerForm.controls.last_name.hasError('required')
                      "
                      >Enter your last name</mat-error
                    >
                  </mat-form-field>
                  <br>
                  <!--Program-->
                  <mat-form-field
                    appearance="fill"
                    class="example-full-width"
                    id="program"
                  >
                    <mat-label>Program of Study</mat-label>
                    <input
                      matInput
                      required
                      ngModel name="program"
                      formControlName="program"
                      [errorStateMatcher]="matcher"
                    />
                    <mat-icon
                      matSuffix
                      *ngIf="
                        registerForm.controls.program.hasError('required') &&
                        registerForm.controls.program.touched
                      "
                      >error_outline</mat-icon
                    >
                    <mat-error
                      *ngIf="
                        registerForm.controls.program.hasError('required')
                      "
                      >Enter your program of study</mat-error
                    >
                  </mat-form-field>
                  <br>
                </p>
                
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">

                
                <div class="card-body p-4">
                  <h3>Information</h3>
                  <hr class="mt-0 mb-4" />
                      <h6></h6>
                      <!-- email -->
                      <mat-form-field
                        appearance="fill"
                        class="example-full-width"
                        id="email"
                      >
                        <mat-label>{{defaultStudent.Email}}</mat-label>
                        <input
                          matInput
                          placeholder="info@example.com"
                          formControlName="email"
                          name="email"
                          [errorStateMatcher]="matcher"
                        />
                        <mat-icon
                          matSuffix
                          *ngIf="
                            (registerForm.controls.email.hasError('email') ||
                              registerForm.controls.email.hasError(
                                'required'
                              )) &&
                            registerForm.controls.email.touched
                          "
                          >error_outline</mat-icon
                        >
                        <mat-error
                          *ngIf="
                            registerForm.controls.email.hasError('email') &&
                            !registerForm.controls.email.hasError('required')
                          "
                        >
                          Please enter a valid email address
                        </mat-error>
                        <mat-error
                          *ngIf="
                            registerForm.controls.email.hasError('required')
                          "
                        >
                          Email is <strong>required</strong>
                        </mat-error>
                        <mat-icon id="hide" matSuffix>email</mat-icon>
                      </mat-form-field>
                      <br>
                    
                      <h6></h6>
                      <!-- phone number -->
                      <mat-form-field
                        appearance="fill"
                        id="spacetop"
                        class="example-full-width"
                        id="tel"
                      >
                        <mat-label>{{defaultStudent.PhoneNumber}}</mat-label>
                        <input
                          matInput
                          formControlName="tel"
                          ngModel name="tel"
                          [errorStateMatcher]="matcher"
                          pattern="[- +()0-9]{10,12}"
                          required
                        />
                        <mat-icon
                          matSuffix
                          *ngIf="
                            (registerForm.controls.tel.hasError('required') ||
                              registerForm.controls.tel.hasError('pattern') ||
                              registerForm.controls.tel.hasError(
                                'minlength'
                              )) &&
                            registerForm.controls.tel.touched
                          "
                          >error_outline</mat-icon
                        >
                        <mat-error
                          *ngIf="registerForm.controls.tel.hasError('required')"
                        >
                          Be sure to enter your phone number
                        </mat-error>

                        <mat-error
                          *ngIf="
                            !registerForm.controls.tel.hasError('required') &&
                            registerForm.controls.tel.hasError('pattern')
                          "
                        >
                          Enter a proper phone number
                        </mat-error>

                        <mat-icon id="hide" matSuffix>phone</mat-icon>
                      
                      </mat-form-field>
                      <br>
                      <!-- language -->
                      <mat-form-field appearance="fill">
                      <mat-label>{{defaultStudent.Language}}</mat-label>
                      <input
                        matInput
                        required
                        name="language"
                        formControlName="language"
                        [errorStateMatcher]="matcher"
                      />
                      <mat-icon
                        matSuffix
                        *ngIf="
                          registerForm.controls.language.hasError('required') &&
                          registerForm.controls.language.touched
                        "
                        >error_outline</mat-icon
                      >
                      <mat-error
                        *ngIf="
                        registerForm.controls.language.hasError('required')
                        "
                      >Enter your language</mat-error>
                      </mat-form-field>
                    <br>
                    
                      <h6></h6>
                         <!-- Personal Description -->
                  <mat-form-field appearance="fill">
                    <mat-label>Personal Description</mat-label>
                    <textarea
                      matInput
                      required
                      name="personal_description"
                      formControlName="personal_description"
                      [errorStateMatcher]="matcher"
                    ></textarea>
                    <mat-icon
                      matSuffix
                      *ngIf="
                        registerForm.controls.personal_description.hasError('required') &&
                        registerForm.controls.personal_descriptioned
                      "
                      >error_outline</mat-icon
                    >
                    <mat-error
                      *ngIf="
                        registerForm.controls.personal_description.hasError('required')
                      "
                      >Enter your personal description</mat-error
                    >
                  </mat-form-field>
                   <br>
                    
                  <label>
                    <p>Your CV</p>
                    <input required name="CV" type="file" class="form-control" formControlName="CV"/>
                  </label>
                  <br>
                  
                  <div class="d-flex justify-content-start">
                    <a href="#!"
                      ><i class="fab fa-facebook-f fa-lg me-3"></i
                    ></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              
                <button mat-button type="submit">SAVE</button>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
</div>

<div *ngIf="!canEdit">
<form id="userProfile" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <section class="vh-200" style="background-color: #93aff6">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 mb-4 mb-lg-0">
          <div class="card mb-3 justify-content-center"
               style="border-radius: 0.5rem; 
               "
              
          >
            <div class="row g-0">
              <div
                class="col-md-4 gradient-custom text-center text-white"
                style="
                  border-top-left-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                  background-color: #475db8
                "
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar"
                  class="img-fluid my-5"
                  style="width: 80px"
                />
                
                  <!-- first_name -->
                  <div class="information" >
                    <span class="heading">First Name: <br></span>
                    {{defaultStudent.FirstName}}
                  </div>
                  <br>
                  <!-- last name -->
                  <div class="information">
                    <span class="heading">Last Name: <br></span>
                    {{defaultStudent.LastName}}
                  </div>
                  
                  <br>
                  <!--Program-->
                  <div class="information">
                    <span class="heading">Program of Study: <br></span>
                  Software Engineering
                  </div>
                  
                  <br>
               
                
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">

                
                <div class="card-body p-4">
                  <h3>Information</h3>
                  <hr class="mt-0 mb-4" />
                      <h6></h6>
                      <!-- email -->
                      <div class="information">
                        <span class="heading"> Email: <br></span>
                      {{defaultStudent.Email}}
                      </div>
                      
                      <br>
                    
                      <h6></h6>
                      <!-- phone number -->
                      <div class="information">
                        <span class="heading">Phone Number: <br></span>
                      {{defaultStudent.PhoneNumber}}
                      </div>

                      <br>
                      <!-- language -->
                      <div class="information">
                        <span class="heading">Languages: <br></span>
                        {{defaultStudent.Language}}
                      </div>
                    <br>
                    
                      <h6></h6>
                         <!-- Personal Description -->
                  <div class="information">
                    <span class="heading">Personal Description:<br></span>
                    I like coding
                  </div>
                   <br>
                    
                  <div class="information">
                    <span class="heading">My CV:<br></span>
                    cvlink
                  </div>
                  <br>
                  
                  <div class="d-flex justify-content-start">
                    <a href="#!"
                      ><i class="fab fa-facebook-f fa-lg me-3"></i
                    ></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              
                <button  (click)="EnableForm()"mat-button type="submit">EDIT</button>
                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
</div>
