<style>
    #myDIV {
      text-align: center;
    }
    </style>
<!-- Responsive navbar-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Job Hunting Application</a>
        <button (click)=myFunction() class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div id="myDIV" class="collapse navbar-collapse" >
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>

                <!-- For when authentication is implemented, replace ngIf with *ngIf="User==Student"-->

                <li *ngIf="authority=='Student'" class="nav-item"><a class="nav-link" href="#!">Applications</a></li>

                <!-- For when authentication is implemented -->
                <li *ngIf="authority=='Employer'" class="nav-item"><a class="nav-link" href="#!">My Postings</a></li>
                <!-- This will take employers to their "interviews" page, which is different from the students' "interviews" page -->
                <li *ngIf="authority=='Employer'" class="nav-item"><a class="nav-link" href="/employer-interviews">Interviews</a></li>
                <li *ngIf="authority=='Employer'" class="nav-item"><a class="nav-link" href="/employer-form">Create New Posting</a></li>
                <!-- This will take students to their "interviews" page -->
                <li *ngIf="authority=='Student'" class="nav-item"><a class="nav-link" href="/student-interviews">Interviews</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                <li *ngIf="authService.isLoggedIn" class="nav-item"><a class="nav-link" (click)="authService.SignOut()">Log Out</a></li>
            </ul>
          </div>
        </div>
    </nav>