/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.btn-primary{
    background-color: #1a237e !important;
    border-color: #1a237e !important;
    color: white !important;
  }

.mdc-text-field, .mat-form-field{
    .mat-input-element {
      color: white;
  }
  .mat-form-field-label {
      color: white;
  }
  .mat-form-field-underline {
      background-color: white;
  }
  .mat-form-field-ripple {
      background-color: white;
  }
  .mat-form-field-required-marker {
      color: white;
  }
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
